@page "/"
@using Microsoft.AspNetCore.Identity;

@if (isAuthenticated)
{
    <p>Du er logget ind som: @username</p>
}
else
{
    <p>Velkommen! Du skal logge ind for at se din ToDo liste</p>
}


<PageTitle>Index</PageTitle>

@code {

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    public string username { get; set; }
    private bool isAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;
        username = user.Identity.Name;
        isAuthenticated = user.Identity.IsAuthenticated;
    }
}